{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5>Danh sách sản phẩm trong danh mục - {{ category.category_name }}</h5>
        <a class="btn btn-secondary" href="{% url 'product_category' %}">
            <i class="bi bi-arrow-90deg-left"></i>
            Quay lại
        </a>
    </div>
    <div class="container bg-white p-4 rounded shadow">
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Tìm kiếm">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>

        <div class="row mb-2 text-muted">
            <div class="col-9">Sản phẩm</div>
            <div class="col-2 text-end">Giá</div>
        </div>

        {% for product in products %}
        <div class="row py-2 border-bottom align-items-center">
            <a class="col-9" href="{% url 'product_detail' product.pk %}">
                {{ product.product_name }}
            </a>
            <div class="col-2 text-end">
                <span>{{ product.selling_price }}</span>đ
            </div>
        </div>
        {% empty %}
        <div class="row py-2">
            <div class="col-12">Không có sản phẩm nào trong danh mục này.</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}