{% extends 'base.html' %}

{% block content %}
<div class="container-fluid  -4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="mb-0">Danh sách danh mục sản phẩm</h5>
        <a href="create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Tạo danh mục sản phẩm
        </a>
    </div>

    <div class="bg-white p-4 rounded shadow">

        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Tìm kiếm">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered align-middle text-center">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Tên danh mục</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Chỉnh sửa</th>
                        <th scope="col">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="detail">Xi măng</a></td>
                        <td>Xi măng xây nhà</td>
                        <td>3 sản phẩm</td>
                        <td><button class="btn btn-warning btn-sm">Chỉnh sửa</button></td>
                        <td><button class="btn btn-danger btn-sm">Xóa</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}