{% extends 'base.html' %}
{% load static %}
{% block style %}
.main-content {
            margin-left: 250px;
            margin-top: 50px;
            padding-top: 80px;
            padding: 20px;
        }
{% endblock %}
{% block content %}
   <div class="row align-items-center">
    <div class="col-md-6 text-center text-md-start">
      <h1 class="display-4 fw-bold">Quản lý kho hiệu quả cùng <span class="text-primary">StockB</span></h1>
      <p class="lead text-muted mt-3">
        Hệ thống quản lý kho Vật liệu xây dựng, trực quan và dễ sử dụng.<br>
        Tiết kiệm thời gian – Nâng cao hiệu suất – Kiểm soát tồn kho chặt chẽ. <br>
      </p>
    </div>
    <div class="col-6 text-center mt-5 mt-md-0">
      <img src="{% static 'undraw_success-factors_i417.svg' %}" class="img-fluid" style="max-height: 400px;">
    </div>
  </div>
    <div class="mt-5 text-center text-muted">
        <br><br><br><br>
        <p class="mb-0">Sản phẩm tâm huyết của <strong>Vũ Đức Anh - Huỳnh Trần Ngọc Bảo - Huỳnh Mạnh Cường - Nguyễn Công Hiếu - Nguyễn Phương Thành</strong></p>
    </div>
{% endblock %}
