{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock %}

{% load humanize %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h5>Danh sách phiếu hàng xuất kho</h5>
      <div>
            <a href="{% url 'export_all_stockout' %}?filter={{ filter_type }}&search={{ search_text|urlencode }}&start_date={{ start_date }}&end_date={{ end_date }}" class="btn btn-danger">
                <i class="bi bi-box-arrow-right"></i>
                Xuất Excel
            </a>

            <a href="{% url 'import_stockout' %}" class="btn btn-success">
                <i class="bi bi-box-arrow-in-right"></i>
                Nhập Excel
            </a>
            <a href="create" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i>
              Tạo phiếu nhập kho
            </a>
        </div>
    </div>
    <div class="container bg-white p-4 rounded shadow">
        <div class="container mb-2">
          <form method="GET" class="p-1">
            <input type="hidden" name="filter" value="{{ filter_type }}">
            <div class="row g-3 align-items-end">
              <div class="col-md-2">
                <label for="filter" class="form-label">Trạng thái</label>
                <select name="filter" id="filter" class="form-select">
                    <option value="all" {% if filter_type == 'all' %}selected{% endif %}>Tất cả</option>
                    <option value="paid" {% if filter_type == 'paid' %}selected{% endif %}>Đã thanh toán</option>
                    <option value="partially_paid" {% if filter_type == 'partially_paid' %}selected{% endif %}>Còn nợ</option>
                    <option value="unpaid" {% if filter_type == 'unpaid' %}selected{% endif %}>Chưa thanh toán</option>
                </select>
              </div>

              <div class="col-md-4">
                <label for="search" class="form-label">Tìm kiếm</label>
                <input type="text" name="search" id="search" class="form-control"
                       placeholder="Mã hàng hoặc tên khách hàng" value="{{ search_text }}">
              </div>

              <div class="col-md-2">
                <label for="start_date" class="form-label">Từ ngày</label>
                <input type="date" name="start_date" id="start_date"
                       class="form-control" placeholder="DD/MM/YYYY" value="{{ start_date }}">
              </div>

              <div class="col-md-2">
                <label for="end_date" class="form-label">Đến ngày</label>
                <input type="date" name="end_date" id="end_date"
                       class="form-control" placeholder="DD/MM/YYYY" value="{{ end_date }}">
              </div>
                <div class="col-2 text-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-filter"></i> Lọc
                    </button>
                    <a href="{% url 'stock_in' %}" class="btn btn-secondary">
                        <i class="bi bi-arrow-repeat"></i> Đặt lại
                    </a>
                </div>
              <div class="col-12">
                 <hr class="my-1">
              </div>
            </div>
          </form>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered align-middle text-center">
            <thead class="table-light">
              <tr>
                <th scope="col">Mã</th>
                <th scope="col">Ngày xuất kho</th>
                <th scope="col">Khách hàng</th>
                <th scope="col">Thanh toán</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            {% for item in stock_out_list %}
            <tbody>
              <tr>
                <td>#{{item.id}}</td>
                <td>{{item.export_date|date:"d/m/Y"}}</td>
                <td>{{item.customer}}</td>
                <td>
                  {% if item.payment_status == "PAID" %}
                    <span class="badge bg-success">Đã thanh toán</span>
                  {% elif item.payment_status == "PARTIALLY_PAID" %}
                    <span class="badge bg-warning">Còn nợ</span>
                  {% else %}
                    <span class="badge bg-danger">Chưa thanh toán</span>
                  {% endif %}
                </td>
                <td>{{ item.total_amount|intcomma }}đ</td>
                <td>
                  <a href="{% url 'export_single_stockout' stockout_id=item.id %}" class="btn btn-sm btn-outline-secondary">Xuất</a>
                  <a href="{% url 'stock_out_update' item.id %}" class="btn btn-sm btn-outline-primary">Xem</a>
                  <form method="POST" action="{% url 'stock_out_delete' pk=item.id %}" style="display:inline;" onsubmit="return confirm('Bạn có chắc chắn muốn xóa đơn xuất này không?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-danger">Xóa</button>
                  </form>
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
    </div>
      {% include 'Pagination/pagination.html' with page_obj=stock_out_list %}
  </div>
{% endblock %}
