{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="mb-0">Chỉnh sửa đơn vị</h5>
    </div>
    <div class="container bg-white p-4 rounded shadow">
        <h5 class="mb-4">Thông tin đơn vị</h5>

        <form method="POST">
            {% csrf_token %}
            <div class="row g-4 mb-4">
                <div class="col-md-6">
                    {{ form.unit_.label_tag }}
                    {{ form.unit_name }}
                </div>
                <div class="col-md-6">
                    {{ form.unit_symbol.label_tag }}
                    {{ form.unit_symbol }}
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a href="{% url 'units_list' %}" class="btn btn-secondary ms-2">Hủy</a>
            </div>
        </form>
    </div>
{% endblock %}